
.nav-bar{
  height: 50px;
    background: floralwhite;
    padding: 15px;
    color: blue;
    display: flex;
    justify-content: space-between;
}

.nav-options > p,  .nav-options > p > a {
    padding: 0 20px;
  }

.sidebar{
  width: 200px;
  background: #4264b1;
  height: 100vh;
  padding: 10px;
  color: white;
}
.main-sec {
  flex: 1;
  background-color: lightgray;
}

.cart-icon {
  color: green;
  font-size: 20px;
}

.shopping-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  width: 360px;
  margin: 20px;
  border-radius: 10px;
  /* position: relative; */
}
.item > p {
  min-height: 50px;
}
.item > img {
  height: 100px;
}

.addtocart {
  /* position: absolute; */
  bottom: 30px;
  right: 30px;
}